.Hero__Wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 130px;
    // position: absolute;
    z-index: 1;
    overflow: hidden;
    
    // @media (max-width: 480px){
    //     display: block;
    // }

}

.Hero__background_image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    top: 0;
    position: absolute;
    z-index: -22;
    overflow: hidden;

    // @media (min-width: 800px) {
    //     height: auto;
    // }
}


.Hero_my__imageWrapper{
    flex-basis: 40%;

    .Hero_my__image{
        width: 350px;
        background-image: url(../../assest/Ellipse.svg);
        background-size: contain;
        background-repeat: no-repeat;


        .Hero_my__arrow2{
            height: 180px;
            position: absolute;
            width: 176.52px;
            height: 477.86px;
            top: 50.01px;
            right: 277px;
            transform: rotate(24deg);
        }

        .Hero_my__arrow3{
            position: relative;
            width: 335.52px;
            height: 506.86px;
            top: -74.99px;
            right: 3px;
            transform: rotate(53deg);
        }

        .Hero_miniPhoto{
            width: 60px;
            border-radius: 50%;
            position: absolute;
            right: 283px;
            top: 80px;
        }

        .Hero_miniPhoto2{
            width: 60px;
            border-radius: 50%;
            position: relative;
            right: 31px;
            bottom: 266px;
        }

        .Hero_miniPhoto3{
            left: 195px;
            width: 60px;
            border-radius: 50%;
            position: relative;
            bottom: 199px;
        }

    }
}


.Hero_Stack__title{
   flex-basis: 40%;

   h1{
    text-align: center;
    padding-top: 55px;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 37px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #ac4f73,#25495e, #8f4d8f, #646353); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    transition: 0.3s ease-in;
   }
}

.Fixed_socialIcons{
    position: fixed;
    padding: 0px 10px 0px 10px;

    i{
        display: block;
        margin-top: 20px;
    }
}