.Header__wrapper{
    position: fixed;
    z-index: 1;
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 100vw;
    padding: 60px;

    @media screen and (max-width: 800px) {
       padding: 30px 0px;
    }


}