.footer_wrapper{
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    color: ivory;
    padding: 40px;
}

ul{
    display: flex;
    
    li{
        padding-right: 10px;
    }
}