.Homepage__Container{
    position: relative;
    overflow: hidden;
}

.Homepage__Wrapper{
    padding: 40px;

    .intro_section__svg{
        position: relative;
    }

    .intro_section__EllipseSvg{
        position: relative;
        right: 322px;
        bottom: -255px;
    }
}

.intro_content{
    width: 50%;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 800px) {
        width: 100%;
    }


    .intro_about{
        margin: 0 auto 70px;
        color: #021D44;
        border: 5px #021D44 solid;
        width: 250px;
        border-radius: 5%;
        font-size: 35px;
        font-weight: 800;
        text-transform: uppercase;

        @media screen and (max-width: 800px) {
           margin: 0 auto 20px;
           width: 200px;
           font-size: 20px;
        }
    }

    .intro_WhatIDo{
        border-left: 2px solid #021D44;
        border-right: 2px solid #021D44;
        width: 150px;
        margin: 60px auto 10px;
        font-weight: 600;
        color: #021D44;
    }
}


.homepage_intro__wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto;

    @media screen and (max-width: 800px) {
        display: block;
        margin: 20px auto;
    }

    .intro_left{
        flex-basis: 40.5%;
        margin: 0 auto;

        @media screen and (max-width: 800px) {
         margin-bottom: 20px;
        }

        h2{
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 700;
            color: #021D44;

            @media screen and (max-width: 800px) {
               font-size: 20px;
            }
        }

    }

    .intro_right{
        flex-basis: 40.5%;
        margin: 0 auto;

        h2{
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 700;
            color: #021D44;

            @media screen and (max-width: 800px) {
                font-size: 20px;
             }
        }

        .intro_right__svg{
            left: 282px;
            position: absolute;
        }
    }

}

.intro_center{
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 800px) {
        text-align: left;
     }

    h2{
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 700;
        color: #021D44;

        @media screen and (max-width: 800px) {
            font-size: 20px;
         }
    }

    p{
        margin-bottom: 60px;
    }
}

// .intro_separator{
//     margin: 0 auto;
//     text-align: center;
// }

.homepage_skills{
    clip-path: polygon(0 0, 100% 130px, 100% 75vh, 0 100%);
    background-color: rgba(117, 65, 85, 0.158);
    height: 100vh;
    position: relative;
    padding: 90px;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 800px) {
        padding: 25px;
        clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
        border-radius: 25px;
        height: auto;
    }

    h2{
        color: #021D44;
        font-weight: 700;
        text-transform: uppercase;

        @media screen and (max-width: 800px) {
           font-size: 15px;
        }
    }

    .skills__svg{
        position: absolute;
        right: 70px;
    }

    .skills__icons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 40px;

        i{
            font-size: 60px;
            color: #021D44;

            @media screen and (max-width: 800px) {
                font-size: 30px;
            }
        }
    }
}

.contact_me{
    background-color: #021D44;
    margin: 0 auto;
    text-align: center;
    padding: 90px;

    @media screen and (max-width: 800px) {
        padding: 20px;
    }

    h1{
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        // background: linear-gradient(to right, #ac4f73,#25495e, #8f4d8f, #646353); 
        background: linear-gradient(to right, #FFFFFF,#25495e, #FFFFFF, #646353); 
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
        font-weight: 800;
        font-size: 70px;

        @media screen and (max-width: 800px) {
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    p{
        color: blanchedalmond;

        @media screen and (max-width: 800px) {
           font-size: 10px;
        }
    }
}

